@use "../../styles/global/typhography" as *;
// @use "../../styles/global/colors" as *;

.containerInput {
    position:relative;
    display: flex;
    margin : 0 20px 20px 20px;
    
    :focus {
        outline: none;
    }
    
    &__field {
        flex: 1;
        resize:none;
        border: none;
        background-color: transparent;
        border : 1px solid var(--gray);
        color: var(--fg);
        border-radius: 10px;
        font-size: $p-size;
        text-align: left;
        line-height: normal;
        vertical-align: middle;
        padding-top:20px;
        padding-left: 20px;
        padding-right: 100px;
        padding-bottom: 20px;
        max-height: 200px;
        overflow-y: hidden;
        font: $p-size $text-font;
    }
    
    &__button {
        position : absolute;
        right: 10px;
        top: 50%; 
        transform: translateY(-50%); 
        padding: 10px 20px;
        background-color: transparent;
        color: var(--fg);
        border: 1px solid var(--gray);
        border-radius: 10px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
        cursor: pointer;
        font: $p-size $text-font;
    }
    &__button:hover {
        background-color: var(--bg);
    }
    &__button:active {
        opacity: 0.5;
    }
}