#profilePresentation {
  text-align: justify;
  line-height: 25px;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.profileSubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 200px;
}

.descriptionContainer {
  max-width: 410px;
}

.jobtitleContainer {
  margin-bottom: 10px;
}

.jobtitleSubContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.myProfile {
  background-color: var(--myProfile);
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 40% 70%/40% 70% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.profileImg {
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border: 3px solid var(--fg);
  animation: morph 8s ease-in-out infinite;
}
