@use "../../styles/global/typhography" as *;

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__text {
      text-align: justify;
      width: 400px;
    }

    &__contactContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap:20px;
      flex-wrap: wrap;

      &__contact{
        display:flex;
        flex-direction: row;
        gap : 20px;

        &__icone {
          height: 70px;
          width: 70px;
          border-radius: 50%;
          background-color: white;
          transition: 0.3s ease-in-out;
          font-size: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
  
        & a:hover {
          background-color: var(--hover);
        }
  
        &__text {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
  
          & h4 {
              color: var(--fg);
          }
          
          & p {
              color:gray
          }
  
          &__link{
            // color: var(--bluehover);
            text-decoration: none;
            color:gray;
            font: $p-size $text-font;
            // font-family: $text-font;
          
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {

    &__content {
      flex-direction: column;
      gap: 50px;

      &__text {
        width: 100%;
      }

      &__email {
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        &__text{
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .container {
    // min-height: 100vh;
    padding: 70px 0px;
    &__content {
      flex-direction: column;
      gap: 50px;

      &__text {
        width: 100%;
      }

      &__email {
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        &__text{
          width: 100%;
        }
      }
    }
  }
}
