.container {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  transition: 0.3s;
  transition: 0.3s ease-in-out;
  height: 40px;
  width: 40px;

  &:hover {
    opacity: 1;
    background-color: var(--hover);
    cursor: pointer;
  }
}
