#about {
  min-height: 100vh;
}

.container {
  padding: 120px 0 ;
  width: 1000px;
  margin: 0 auto;

  & img {
    height: 480px;
    border-radius: 10px 10px 10px 10px;
    // object-fit: cover;
    // margin: 0 auto;
    // display: block;
    float: left;
    margin-right: 30px;
  }
  
  &__text {
    text-align: justify;
    line-height: 25px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 100%;
    // padding: 0 20px;

    & img {
      height: auto;
      width: 100%;
    }
  }
}